<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  
  <Identity Name="d3a62599-4130-40f6-a6b9-d7c1780fe95f"
            Publisher="CN=steve"
            Version="1.0.0.0" />
  
  <Properties>
    <DisplayName>WinRT</DisplayName>
    <PublisherDisplayName>steve</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
    <Description>WinRT</Description>
  </Properties>
  
  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>
  
  <Resources>
    <Resource Language="en-us"/>
  </Resources>
  
  <Applications>
    <Application Id="App" 
        Executable="winrt.exe" 
        EntryPoint="WinRT.App">
        <VisualElements 
            DisplayName="WinRT"
            Logo="Images\Logo.png"
            SmallLogo="Images\SmallLogo.png"
            Description="WinRT"
            ForegroundText="light"
            BackgroundColor="#222222">
            <SplashScreen Image="Images\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>